<div class="card-container">
  <div class="card">
    <div class="card-header bg-info">Addeddas</div>
    <div class="card-body">
      <div class="prod-img">
        <img
          src="https://target.scene7.com/is/image/Target/52375110?wid=328&hei=328&qlt=80&fmt=pjpeg"
          alt=""
        />
      </div>

      <div class="info">
        <div class="price-rate">
          <div class="prod-price"><p class="price">123 $</p></div>
          <div class="prod-rate">
            <rating
              [(ngModel)]="rate"
              [max]="5"
              fullIcon="★"
              emptyIcon="☆"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success">add to cart</div>
  </div>

  <div class="card">
    <div class="card-header bg-info">Addeddas</div>
    <div class="card-body">
      <div class="prod-img">
        <img
          src="https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/05/24/105230311-ThumbnailWide.600x337.jpg?v=1527193335"
          alt=""
        />
      </div>

      <div class="info">
        <div class="price-rate">
          <div class="prod-price"><p class="price">123 $</p></div>
          <div class="prod-rate">
            <rating
              [(ngModel)]="rate"
              [max]="5"
              fullIcon="★"
              emptyIcon="☆"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success">add to cart</div>
  </div>

  <div class="card">
    <div class="card-header bg-info">Addeddas</div>
    <div class="card-body">
      <div class="prod-img">
        <img
          src="https://target.scene7.com/is/image/Target/52375110?wid=328&hei=328&qlt=80&fmt=pjpeg"
          alt=""
        />
      </div>

      <div class="info">
        <div class="price-rate">
          <div class="prod-price"><p class="price">123 $</p></div>
          <div class="prod-rate">
            <rating
              [(ngModel)]="rate"
              [max]="5"
              fullIcon="★"
              emptyIcon="☆"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success">add to cart</div>
  </div>

  <div class="card">
    <div class="card-header bg-info">Addeddas</div>
    <div class="card-body">
      <div class="prod-img">
        <img
          src="https://rukminim1.flixcart.com/image/612/612/j79czgw0/shoe/p/u/s/pilot-5-blue-9-clymb-black-blue-original-imaexgk8zfbjgnxh.jpeg?q=70"
          alt=""
        />
      </div>

      <div class="info">
        <div class="price-rate">
          <div class="prod-price"><p class="price">123 $</p></div>
          <div class="prod-rate">
            <rating
              [(ngModel)]="rate"
              [max]="5"
              fullIcon="★"
              emptyIcon="☆"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success">add to cart</div>
  </div>

  <div class="card">
    <div class="card-header bg-info">Addeddas</div>
    <div class="card-body">
      <div class="prod-img">
        <img
          src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto/c8tdupxlxy7in6sf7hqx/jordan-grind-mens-running-shoe-rZ6FvT.jpg"
          alt=""
        />
      </div>

      <div class="info">
        <div class="price-rate">
          <div class="prod-price"><p class="price">123 $</p></div>
          <div class="prod-rate">
            <rating
              [(ngModel)]="rate"
              [max]="5"
              fullIcon="★"
              emptyIcon="☆"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success">add to cart</div>
  </div>

  <div class="card">
    <div class="card-header bg-info">Addeddas</div>
    <div class="card-body">
      <div class="prod-img">
        <img
          src="https://thumbor.forbes.com/thumbor/1280x868/https%3A%2F%2Fblogs-images.forbes.com%2Fforbes-finds%2Ffiles%2F2018%2F03%2F1_12330765.jpg"
          alt=""
        />
      </div>

      <div class="info">
        <div class="price-rate">
          <div class="prod-price"><p class="price">123 $</p></div>
          <div class="prod-rate">
            <rating
              [(ngModel)]="rate"
              [max]="5"
              fullIcon="★"
              emptyIcon="☆"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success">add to cart</div>
  </div>

  <div class="card">
    <div class="card-header bg-info">Addeddas</div>
    <div class="card-body">
      <div class="prod-img">
        <img
          src="https://media.gq.com/photos/5a81b51bc0fcdc28d27c7be6/master/pass/2018-02_GQ_Essential-Dress-Shoes-want-les-essentials_3x2.jpg"
          alt=""
        />
      </div>

      <div class="info">
        <div class="price-rate">
          <div class="prod-price"><p class="price">123 $</p></div>
          <div class="prod-rate">
            <rating
              [(ngModel)]="rate"
              [max]="5"
              fullIcon="★"
              emptyIcon="☆"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success">add to cart</div>
  </div>

  <div class="card">
    <div class="card-header bg-info">Addeddas</div>
    <div class="card-body">
      <div class="prod-img">
        <img
          src="https://target.scene7.com/is/image/Target/53359390?wid=328&hei=328&qlt=80&fmt=pjpeg"
          alt=""
        />
      </div>

      <div class="info">
        <div class="price-rate">
          <div class="prod-price"><p class="price">123 $</p></div>
          <div class="prod-rate">
            <rating
              [(ngModel)]="rate"
              [max]="5"
              fullIcon="★"
              emptyIcon="☆"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success">add to cart</div>
  </div>
</div>
