<div class="card-container">
  <div class="card" *ngFor="let p of products">
    <div class="card-header bg-info">{{p.product_name}}</div>
    <div class="card-body" (click)="goToSingleProduct()">
      <div class="prod-img">
        <img src="./../../../../assets/sh1.webp" alt="" />
      </div>

      <div class="info">
        <div class="price-rate">
          <div class="prod-price"><p class="price">{{p.product_sale_price}}</p></div>
          <div class="prod-rate">
            <rating
              [(ngModel)]="rate"
              [max]="5"
              fullIcon="★"
              emptyIcon="☆"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success" (click)="addToCart(p)">add to cart</div>
  </div>

  <!--
    <div class="card">
      <div class="card-header bg-info">Addeddas</div>
      <div class="card-body">
        <div class="prod-img">
          <img src="../../../../assets/sh24.jpg" alt="" />
        </div>

        <div class="info">
          <div class="price-rate">
            <div class="prod-price"><p class="price">123 $</p></div>
            <div class="prod-rate">
              <rating
                [(ngModel)]="rate"
                [max]="5"
                fullIcon="★"
                emptyIcon="☆"
                [titles]="['one', 'two', 'three', 'four', 'five']"
              >
              </rating>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-success">add to cart</div>
    </div>

    <div class="card">
      <div class="card-header bg-info">Addeddas</div>
      <div class="card-body">
        <div class="prod-img">
          <img src="../../../../assets/sh3.jpg" alt="" />
        </div>

        <div class="info">
          <div class="price-rate">
            <div class="prod-price"><p class="price">123 $</p></div>
            <div class="prod-rate">
              <rating
                [(ngModel)]="rate"
                [max]="5"
                fullIcon="★"
                emptyIcon="☆"
                [titles]="['one', 'two', 'three', 'four', 'five']"
              >
              </rating>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-success">add to cart</div>
    </div>

    <div class="card">
      <div class="card-header bg-info">Addeddas</div>
      <div class="card-body">
        <div class="prod-img">
          <img src="../../../../assets/sh4.jpg" alt="" />
        </div>

        <div class="info">
          <div class="price-rate">
            <div class="prod-price"><p class="price">123 $</p></div>
            <div class="prod-rate">
              <rating
                [(ngModel)]="rate"
                [max]="5"
                fullIcon="★"
                emptyIcon="☆"
                [titles]="['one', 'two', 'three', 'four', 'five']"
              >
              </rating>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-success">add to cart</div>
    </div>

    <div class="card">
      <div class="card-header bg-info">Addeddas</div>
      <div class="card-body">
        <div class="prod-img">
          <img src="../../../../assets/sh3.jpg" alt="" />
        </div>

        <div class="info">
          <div class="price-rate">
            <div class="prod-price"><p class="price">123 $</p></div>
            <div class="prod-rate">
              <rating
                [(ngModel)]="rate"
                [max]="5"
                fullIcon="★"
                emptyIcon="☆"
                [titles]="['one', 'two', 'three', 'four', 'five']"
              >
              </rating>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-success">add to cart</div>
    </div>

    <div class="card">
      <div class="card-header bg-info">Addeddas</div>
      <div class="card-body">
        <div class="prod-img">
          <img src="../../../../assets/sh24.jpg" alt="" />
        </div>

        <div class="info">
          <div class="price-rate">
            <div class="prod-price"><p class="price">123 $</p></div>
            <div class="prod-rate">
              <rating
                [(ngModel)]="rate"
                [max]="5"
                fullIcon="★"
                emptyIcon="☆"
                [titles]="['one', 'two', 'three', 'four', 'five']"
              >
              </rating>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-success">add to cart</div>
    </div>

    <div class="card">
      <div class="card-header bg-info">Addeddas</div>
      <div class="card-body">
        <div class="prod-img">
          <img src="../../../../assets/sh4.jpg" alt="" />
        </div>

        <div class="info">
          <div class="price-rate">
            <div class="prod-price"><p class="price">123 $</p></div>
            <div class="prod-rate">
              <rating
                [(ngModel)]="rate"
                [max]="5"
                fullIcon="★"
                emptyIcon="☆"
                [titles]="['one', 'two', 'three', 'four', 'five']"
              >
              </rating>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-success">add to cart</div>
    </div>

    <div class="card">
      <div class="card-header bg-info">Addeddas</div>
      <div class="card-body">
        <div class="prod-img">
          <img src="../../../../assets/sh3.jpg" alt="" />
        </div>

        <div class="info">
          <div class="price-rate">
            <div class="prod-price"><p class="price">123 $</p></div>
            <div class="prod-rate">
              <rating
                [(ngModel)]="rate"
                [max]="5"
                fullIcon="★"
                emptyIcon="☆"
                [titles]="['one', 'two', 'three', 'four', 'five']"
              >
              </rating>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-success">add to cart</div>
    </div>
  -->
</div>
