<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <button class="btn btn-light">Home</button>
    <button class="btn btn-light">Search</button>
    <button class="btn btn-light">Contact Us</button>
    <button class="btn btn-light"><i class="fas fa-shopping-cart">2</i></button>

    <div class="dropdown">
      <button
        class="btn btn-light dropdown-toggle "
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        En
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item">Ar</button>
      </div>
    </div>
  </div>
</nav>
